[Unit]
Description=Tor instance %i
After=network-online.target

[Service]
User=debian-tor
Group=debian-tor
ExecStart=/usr/bin/tor -f /etc/tor/torrc.instance%i
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
